*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #0e0e0e;
    background: linear-gradient(to bottom,#4b6cb7, #182848);
}

header{
    background-color: white;
    padding: 5px;
    padding-left: 10%;
    position: fixed;
    width: 100%;
}

.logo{
    width: 40px;
    margin-right: 20px;
    vertical-align: middle;
}

.navbarBtn{
    vertical-align: middle;
    margin-right: 40px;
    color: red;
    text-decoration: none;
    transition: all 0.4s ease-out;
}

.navbarBtn:hover{
    color: blue;
    font-size: 18px;
}

.sectionDisponibles, .serviciosDisponibles{
    width: 80%;
    margin-left: 10%;
    padding-top: 80px;
}

.tituloSection{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.SD_fila{
    margin-bottom: 20px;
}

.SD_fila_contImg, .SD_fila_contTexto{
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.SD_fila_contTexto{
    color: white;
}

.justificarIzq .SD_fila_contTexto{
    text-align: left;
    margin-left: 8%;
}

.justificarDer .SD_fila_contTexto{
    text-align: right;
    margin-right: 8%;
}

.SD_fila_contTexto h4{
    color: red;
    font-size: 22px;
    margin-bottom: 12px;
}

.SD_fila_contTexto p{
    font-weight: 300;
    font-size: 14px;
}

.card{
    background-color: white;
    width: 48%;
    padding: 24px;
    border-radius: 16px;
    display: inline-block;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.titulos{
    margin-bottom: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}

.categoria{
    color: red;
    margin-bottom: 8px;
}

.imagen{
    height: 180px;
    overflow: hidden;
}

img{
    width: 100%;
    transition: all 0.4s ease-out;
}

.card:hover .imagen img{
    width: 110%;
}

.nombreProducto{
    margin-top: 32px;
}

.marca{
    color: red;
    margin-bottom: 8px;
}

.descripcion{
    color: grey;
}

.precios{
    margin-top: 32px;
}

.filaPrecio{
    margin-bottom: 16px;
}

.descuento, .precio, .contenedorTarjeta{
    display: inline-block;
    vertical-align: middle;
}

.descuento{
    background-color: #ffe8e8;
    color: #d20978;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.dcto2{
    background-color: lightblue;
    color: blue;
}

.contenedorTarjeta{
    width: 32px;
    margin-left: 20px;
}

footer{
    background-color: white;
    padding: 30px;
    text-align: right;
    margin-top: 60px;
}

footer b{
    color: red;
    font-size: 18px;
    text-transform: uppercase;
}
